/* タブレット向けレイアウト */
@media (max-width: 1000px) {
    img {
    width: 50%;
    margin-bottom: 50px;
    }
  }
}

/* スマホ向けレイアウト */

/* ブレイクポイントが670px以下の時のメディアクエリを設定してください */
@media (max-width: 670px) {
    img {
    width: 100%;
    }
  }
  
